<%- include('./partials/header') %>

  <div class="splash">
    <div id="line-1">
      <p>Welcome to the</p>
    </div>
    <div id="line-2">
      <h1>Cooking Collective</h1>
    </div>
    <div id="line-3">
      <p>Your source for the world's foods!</p>
    </div>
  </div>
  </body>
</html>
