
/* .black-box {
  color: black;
  background-color: rgba(0,0,0,0.25);
} */

/* ../images/kitchen.jpeg */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
   
  
}

main {
  position: relative;
  background-image: url('../images/kitchen.jpeg');
  height: 100%;  
  margin: -1px auto;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
  backdrop-filter: blur(6px);
}

/* .body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.25);
  z-index: 2;
} */

/* main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  font-family: Arial, Helvetica, sans-serif;
} */

#show-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 50vh;
}

#show-page .instructions {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 100vw;
  margin: 10px 0;
}

nav {  
  padding: 0 20px 0 30px;  
  height: 50px;  
  background-color: rgba(70, 18, 101, 1);
}

#nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-right, #nav-left, a:visited  {
  color: silver;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-family: fantasy;
}

a:hover:not(.active) {
  background-color: red;
}

span {
  padding: 0 10px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *{
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  align-items: center;
}

/* table {
  font-size: 14px;
  color: black;
} */

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: left;
}

#list a {
  border-radius: 4px;
  /* background-color: #B8C0C2; */
  padding: 4px;
  text-decoration: none;
  font-size: 24px;
  color: red
}

#list a:hover {
  background-color: white;
}

/* #show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
} */

#new-comment {
  display: grid;
  grid-template-columns: auto auto;
}

.comment-user, .recipe-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
}

.comment-user img, .recipe-user img {
  border-radius: 50%;
  height: 20px;
}
