<%- include('../partials/header') %>

<h1 id="title"><%= title %></h1>

    <form id="new-form" action="/recipes" method="POST">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Ingredients:</label>
        <input type="text" name="ingredients">
        <label>Directions:</label>
        <input type="text" name="directions">
        <input type="submit" value="Add Recipe">
    </form>
</body>
</html>

<%- include('../partials/footer') %>